<mat-card class="todo-card" *ngIf="_todo && !_todo.isArchived">
  <mat-card-header>
    <mat-card-title>{{_todo.title}}</mat-card-title>
    <mat-card-subtitle>{{_todo.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="start">
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="onCompleteTodo(_todo)">Complete</button>
      <button mat-raised-button color="warn" (click)="onArchiveTodo()">Archive</button>
    </div>

  </mat-card-actions>
  <app-count-down [dDay]="_todo.endDate"> </app-count-down>
</mat-card>
