/*
.button-row {

  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  }



.todo-card{
  max-width: 400px;
  margin-bottom: 8px;

}
*/

::ng-deep{
  mat-card{
    height: calc(100% - 40px) ;
  }
}

.button-row {

  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

button{
  margin : 8px
}
